---
description: |-
  Vagrant enables users to create and configure lightweight, reproducible, and
  portable development environments.
---

<header>
  <div class="container hero">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= inline_svg "logo-hashicorp.svg", height: 120, class: "logo" %>

        <h1>开发环境搭建非常简单</h1>

        <a class="button primary" href="/intro/index.html">开始使用</a>
        <a class="button" href="/downloads.html">下载 <%= latest_version %></a>
        <a class="button" href="https://app.vagrantup.com/boxes/search" target="_TOP">查找 Boxes</a>
      </div>
    </div>
  </div>
</header>

<section id="simple" class="marketing blue">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="callout">统一的工作流程</span>
        <h2>简单且强大</h2>
        <p>
          Vagrant提供统一的，简单的工作流程，不论是您的角色是一名开发者，运营者或者设计者。它利用了一个声明式配置文件描述了您的所有软件需求、包、操作系统配置、用户等等。
        </p>
      </div>
      <div class="col-md-6">
        <div class="terminal">
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
          <div class="terminal-content">
            <span class="command">$ vagrant init hashicorp/precise64</span>
            <span>&nbsp;</span>
            <span class="command">$ vagrant up</span>
            <span>Bringing machine 'default' up with 'virtualbox' provider...</span>
            <span>==> default: Importing base box 'hashicorp/precise64'...</span>
            <span>==> default: Forwarding ports...</span>
            <span>    default: 22 (guest) => 2222 (host) (adapter 1)</span>
            <span>==> default: Waiting for machine to boot...</span>
            <span>&nbsp;</span>
            <span class="command">$ vagrant ssh</span>
            <span>vagrant@precise64:~$ _</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="parity" class="marketing">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="parity-image">
          <%= inline_svg "parity.svg" %>
        </div>
      </div>
      <div class="col-md-6">
        <span class="callout">实施的一致性</span>
        <h2>产品同等</h2>
        <p>
          修复一个bug的成本成倍增加了它接近生产的程度。Vagrant旨在通过提供相同的操作系统，包，用户和配置来镜像生产环境，同时为用户提供使用自己喜欢的编辑器，IDE和浏览器。Vagrant还与您现有的配置管理工具（如Chef，Puppet，Ansible或Salt）集成，因此您可以使用相同的脚本将Vagrant配置为生产。
        </p>
      </div>
    </div>
  </div>
</section>

<section id="cross" class="marketing blue-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="callout">跨平台</span>
        <h2>在任何环境下工作</h2>
        <p>
          Vagrant工作在Mac, Linux, Windows及其他的环境下。远程开发环境迫使用户放弃使用他们喜爱的编辑器和程序。Vagrant工作在你的本地系统和你已经熟悉的程序。在你喜爱的编辑器下轻松写代码，使用你喜爱的程序编辑图片，用你喜爱的工具进行调试，全部都在你本地舒适的电脑上。
        </p>
      </div>
      <div class="col-md-6">
        <div class="systems">
          <%= inline_svg "systems/apple.svg" %>
          <%= inline_svg "systems/linux.svg" %>
          <%= inline_svg "systems/windows.svg" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="trusted" class="marketing black">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <span class="callout">值得信任</span>
        <h2>信任</h2>
        <p>
          Vagrant每天被数以千计的开发者，运营者，设计者所信任。这里仅是少数的一些组织，他们选择Vagrant来自动化他们的开发环境，以一种轻量的，可复用的方式。
        </p>
        <p class="logos">
          <%= image_tag "customers.png", alt: "customers" %>
        </p>
      </div>
    </div>
  </div>
</section>
