<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("intro-home") %>>
        <a href="/intro/index.html">Vagrant是什么?</a>
      </li>

      <li<%= sidebar_current("vs") %>>
        <a href="/intro/vs/index.html">Vagrant对比其他软件</a>
        <ul class="nav">
          <li<%= sidebar_current("vs-cli-tools") %>>
            <a href="/intro/vs/cli-tools.html">CLI Tools</a>
          </li>
          <li<%= sidebar_current("vs-docker") %>>
            <a href="/intro/vs/docker.html">Docker</a>
          </li>
          <li<%= sidebar_current("vs-terraform") %>>
            <a href="/intro/vs/terraform.html">Terraform</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("gettingstarted") %>>
        <a href="/intro/getting-started/index.html">开始使用</a>
        <ul class="nav">
          <li<%= sidebar_current("gettingstarted-install") %>><a href="/intro/getting-started/install.html">安装</a></li>
          <li<%= sidebar_current("gettingstarted-projectsetup") %>><a href="/intro/getting-started/project_setup.html">项目创建</a></li>
          <li<%= sidebar_current("gettingstarted-boxes") %>><a href="/intro/getting-started/boxes.html">盒子</a></li>
          <li<%= sidebar_current("gettingstarted-up") %>><a href="/intro/getting-started/up.html">启动和SSH</a></li>
          <li<%= sidebar_current("gettingstarted-syncedfolders") %>><a href="/intro/getting-started/synced_folders.html">同步文件夹</a></li>
          <li<%= sidebar_current("gettingstarted-provisioning") %>><a href="/intro/getting-started/provisioning.html">配置</a></li>
          <li<%= sidebar_current("gettingstarted-networking") %>><a href="/intro/getting-started/networking.html">网络</a></li>
          <li<%= sidebar_current("gettingstarted-share") %>><a href="/intro/getting-started/share.html">分享</a></li>
          <li<%= sidebar_current("gettingstarted-teardown") %>><a href="/intro/getting-started/teardown.html">拆卸</a></li>
          <li<%= sidebar_current("gettingstarted-rebuild") %>><a href="/intro/getting-started/rebuild.html">重建</a></li>
          <li<%= sidebar_current("gettingstarted-providers") %>><a href="/intro/getting-started/providers.html">提供者</a></li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>